@model IEnumerable<project_application.Models.ActivateModel>

@{
    ViewBag.Title = "账号激活";
}

@section head {
    <script type="text/javascript">
        $(function () {
            $('#account_activate').dataTable({
                "oLanguage": dataTablesLanguage,
                //"fnDrawCallback": groupMyTable,
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": true,
                "bSort": false,
                "bInfo": true,
                "bAutoWidth": true
            }).makeEditable({
                sUpdateURL: "/Account/Activate",
                fnShowError: function (message, action) {
                    switch (action) {
                        case "update":
                            $('#account_activate').jAlert(message, "fatal");
                            break;
                    }
                },
                "aoColumns": [
                    null,
                    null,
                    null,
                    {
                        indicator: '保存...',
                        tooltip: '双击可以选择',
                        loadtext: '装入...',
                        type: 'select',
                        onblur: 'submit',
                        data: "{1:'已激活', 0:'未激活'}"
                    }]
            });
        })
    </script>
}

<h2>账号激活</h2>

<div>

    <table id="account_activate">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                <th>@Html.DisplayNameFor(model => model.RealName)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.UserId">
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                    <td>@Html.DisplayFor(modelItem => item.RealName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                </tr>
        
            }
        </tbody>

    </table>

</div>
