@model IEnumerable<project_application.Models.ApplyProject>

@{
    ViewBag.Title = "项目列表";
}

<h2>项目列表</h2>

<p>
    @Html.ActionLink("项 目 申 报", "Create")
</p>
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectNameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplySchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectLeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ApplyPeopleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyPeopleDepartment)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ApplyProjectStatus)
        </th>
        <th> 操                        作         </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectNameTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplySchool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectLeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyPeopleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyPeopleDepartment)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ApplyProjectStatus)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("查看", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
